/*===================*/
/*= General resets =*/
/*=================*/

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html{
    background-color: var(--main-bg-color);
    min-height: 100vh;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1{
    display: block;
}

li{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

a{
    text-decoration: none;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

.white-word{
    color: var(--font-white-color);
}

.blue-word{
    color: var(--blue-general);
}

/*========================================*/
/*============ Variables ================*/
/*======================================*/

:root {
    /* Colores */
    --yellow-header: #FFEC88;
    --blue-general: #002E77;
    --font-white-color: #FFFFF8;
    --white-background: #F5F5F5;
    /* Fonts */
    --heading1-fs: clamp(5rem, 8vw + 1rem, 9.375rem);
    --heading2-fs: 100px;
    --heading3-fs: 3.5rem;
    --heading4-fs: 32px;
    --heading5-fs: 1.75rem;
    --subHeading1-fs: 1.5rem;
    --subHeading2-fs: 0.875rem;
    --navText-fs: 1rem;
    --body-fs: 1.125rem;
    /* Font Family */
    --font-family: 'Mulish', sans-serif;
    --font-family-menu: 'Rajdhani', sans-serif;

}

/* ============================================= */
/*=============== NAV BAR STYLES ===============*/
/* ============================================= */

.header{
    background-color: var(--yellow-header);
    background-color: var(--blue-general);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .75rem .4rem;
}

.header-nav{
    width: 100%;
    background-color: var(--blue-general);
}

.header-nav-ul{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    font-family: var(--font-family-menu);
    /* font-size: var(--subHeading2-fs); */
    font-size: .75rem;
    max-width: 1200px;
}

.header-nav-li-link{
    color: var(--font-white-color);
}

@media screen and (max-width: 768px) {
    .header-full-logo{
        display: none;
    }
    .header-logo{
        display: block;
        width: 8%;
    }
}

@media screen and (min-width: 768px) {
    .header{
        flex-direction: column;
        background-color: var(--yellow-header);
        padding: .75rem  0  0;
    }
    .header-full-logo{
        display: block;
        width: 300px;
        height: 100px;
        margin: 1em;
    }
    .header-logo{
        display: none;
    }
    .header-nav{
        padding: 1rem;
    }
}