/*===================*/
/*= General resets =*/
/*=================*/

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  height: 100%;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1 {
  display: block;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.white-word {
  color: var(--font-white-color);
}

.blue-word {
  color: var(--blue-general);
}

/*========================================*/
/*============ Variables ================*/
/*======================================*/

:root {
  /* Colores */
  --yellow-header: #ffec88;
  --blue-general: #002e77;
  --font-white-color: #fffff8;
  --white-background: #f5f5f5;
  /* Fonts */
  --heading1-fs: clamp(5rem, 8vw + 1rem, 9.375rem);
  --heading2-fs: 100px;
  --heading3-fs: 3.5rem;
  --heading4-fs: 32px;
  --heading5-fs: 1.75rem;
  --subHeading1-fs: 1.5rem;
  --subHeading2-fs: 0.875rem;
  --navText-fs: 1rem;
  --body-fs: 1.125rem;
  /* Font Family */
  --font-family: "Mulish", sans-serif;
  --font-family-menu: "Rajdhani", sans-serif;
}

/* ============================================= */
/*=============== NAV BAR STYLES ===============*/
/* ============================================= */

.header {
  background-color: var(--blue-general);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 0.4rem;
  width: 100vw;
  position: fixed;
  top:0;
  z-index: 9999;
}

.header-nav {
  width: 100%;
  background-color: var(--blue-general);  
}

.header-nav-ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-family: var(--font-family-menu);
  /* font-size: var(--subHeading2-fs); */
  font-size: 0.75rem;
  max-width: 1200px;
}

.header-nav-li-link {
  color: var(--font-white-color);
}

/* ============================================= */
/*=============== MAIN STYLES ==================*/
/* ============================================= */

/* Home */

.main-subtitle {
  display: block;
  text-align: center;
  margin: 8vh 3vw;
  color: var(--blue-general);
}

.main-question {
  color: var(--blue-general);
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.main-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.main-scroll::-webkit-scrollbar {
  width: 0;
}

.main-scroll-img {
  border-radius: 50%;
  border: 5px solid var(--blue-general);
  object-fit: cover;
  width: 0;
}

.main-scroll-img-text {
  display: block;
  text-align: center;
  width: 100%;
  color: var(--blue-general);
}

/* ============================================= */
/*=============== ABOUT STYLES ==================*/
/* ============================================= */

.section-about {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3vw;
}

.about-banner-img {
  max-height: 250px;
  width: 100%;
  margin-right: 1rem;
  border-radius: 20px;
}

.about-objetivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.about-bluebox {
  font-family: var(--font-family);
  position: relative;
  background-color: var(--blue-general);
  color: var(--font-white-color);
  border-radius: 20px;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  max-width: 360px;
  margin: 1rem 0;
}

.about-bluebox-title {
  font-weight: bold;
  top: 10px;
  left: -60px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow-header);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 60%;
  color: var(--blue-general);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about-bluebox-desc {
  max-width: 30ch;
  font-size: 0.95rem;
}

/* ================================================= */
/*=============== SERVICES STYLES ==================*/
/* =============================================== */

.services-title {
  text-align: center;
  margin-top: 5rem;
  color: var(--blue-general);
}

.services-box {
  background-color: var(--blue-general);
  color: #fff;
  text-align: center;
  padding: 3rem 0.8rem 1rem 0.8rem;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  height: 250px;
}

.services-box-icon {
  width: 5.5rem;
  height: 5.5rem;
  position: absolute;
  border-radius: 50%;
  top: -3rem;
}

.services-box-span {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
}

.services-box-text {
  font-size: 1.1rem;
}

.services-box:nth-child(3) .services-box-text {
  padding: 1.1rem 0;
}


/* ================================================ */
/*=============== CONTACT STYLES ==================*/
/* ============================================== */

#contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  height: 100vh;
}

.contact-title {
  font-size: 1.35rem;
  text-align: center;
  margin: 0 auto;
  color: var(--blue-general);
}

.contact-data {
  margin: 0 auto;
  min-width: 300px;
  max-width: 700px;
}

.contact-form {
  display: flex;
  margin: 0 auto;
  margin-bottom: 10%;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.input-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

label {
  position: absolute;
  left: 15px;
  top: -10px;
  background-color: var(--font-white-color);
  color: var(--blue-general);
  font-weight: bold;
}

.contact-input {
  border: 2px solid var(--blue-general);
  border-radius: 10.56px;
  padding: 7px;
}

.form-button {
  background-color: var(--blue-general);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 1rem 5rem;
  border: none;
  color: var(--font-white-color);
  cursor: pointer;
}

textarea {
  min-height: 100px;
  resize: none;
}

i {
  font-size: 1.45rem;
  color: var(--blue-general);
}

.social-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  min-height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--yellow-header);
}

.social-info {
  display: flex;
}

.social-text {
  font-size: .75rem;
  color: var(--blue-general);
  display: none;
}

.hashtag {
  display: none;
}

/* ============================================= */
/*=============== MEDIA QUERIES =================*/
/* ============================================= */

@media screen and (max-width: 768px) {
  /*header*/

  .header {
    height: 10vh;
  }

  .header-full-logo {
    display: none;
  }

  .header-logo {
    display: block;
    width: 8%;
  }

  /*main*/

  .main-subtitle {
    font-size: 1.2rem;
  }

  .subtitle-margin{
    margin: 15vh 2vw 5vh;
  }

  .main-question {
    font-size: 1.2rem;
  }

  .br-1,
  .br-2 {
    display: block;
  }

  .main-scroll-img {
    min-width: 37vw;
    height: 37vw;
    margin: 5px 10px;
  }

  .about-bluebox-title {
    top: 5px;
  }

  .about-objetivo {
    margin-left: auto;
  }

  .about-bluebox-desc {
    font-size: 0.85rem;
  }

  /* SERVICES */

  .services-title {
    font-size: 1.25rem;
  }

  .services-box {
    width: 80vw;
    margin: 5rem auto;
  }
}

@media screen and (min-width: 768px) {
  /*header*/

  .header {
    flex-direction: column;
    background-color: var(--yellow-header);
    padding: 0.75rem 0 0;
    height: 35vh;
  }

  .header-full-logo {
    display: block;
    width: 300px;
    height: auto;
    margin: 1em;
  }

  .header-nav-ul {
    font-size: 1.25rem;
  }

  .header-logo {
    display: none;
  }

  .header-nav {
    padding: 1rem;
  }

  /*main*/

  .main-subtitle {
    font-size: 1.5rem;
  }

  .subtitle-margin{
    margin: 40vh 2vw 5vh;
  }

  .main-question {
    font-size: 1.5rem;
  }

  .br-1 {
    display: block;
  }

  .main-scroll {
    justify-content: center;
  }

  .img-2 {
    background-position-y: -60px;
  }

  .main-scroll-img {
    width: 200px;
    height: 200px;
    margin: 15px 20px;
  }

  .main-scroll-img-text {
    font-size: 1.25rem;
  }

  /* About */

  .section-about {
    gap: 3rem;
    flex-direction: column-reverse;
  }

  .about-images {
    order: 1;
  }

  .about-info {
    order: 3;
  }

  .about-objetivo {
    margin: 2rem 0;
    order: 2;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .about-bluebox {
    padding: 2.90rem 2rem 1rem 2rem;
    max-width: 400px;
    margin: 1rem 0;
  }

  .about-bluebox-title {
    top: -50px;
    left: 37%;
  }

  .about-bluebox-desc {
    text-align: center;
    max-width: 100%;
    font-size: 1.15rem;
  }



  /* SERVICES */

  .services-title {
    font-size: 2rem;
  }

  .services-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .services-box {
    margin: 5rem 2rem;
  }

  /* Contact */

  #contact {
    gap: 80px;
  }

  .contact-title {
    font-size: 2rem;
  }

  .contact-title span {
    display: none;
  }

  .contact-data {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    gap: 60px;
  }

  .contact-form {
    position: relative;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 30px;
    max-width: 800px;
    width: 100%;
  }

  .contact-form::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -30px;
    width: 3px;
    height: 70%;
    background-color: var(--blue-general);
  }

  label {
    padding: 0 5px;
  }

  .contact-input {
    padding: 12px;
  }

  textarea {
    min-height: 150px;
    resize: none;
  }


  .social-data {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: transparent;
  }

  .social-info {
    gap: 20px;
  }

  i {
    font-size: 1.45rem;
  }

  .social-text {
    display: block;
    font-size: 1.10rem;
  }

  .hashtag {
    display: block;
    font-size: 1.45rem;
    font-weight: bold;
    color: #E7CC43;
  }


}