/*===================*/
/*= General resets =*/
/*=================*/

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  height: 100%;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1 {
  display: block;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.white-word {
  color: var(--font-white-color);
}

.blue-word {
  color: var(--blue-general);
}

/*========================================*/
/*============ Variables ================*/
/*======================================*/

:root {
  /* Colores */
  --yellow-header: #ffec88;
  --blue-general: #002e77;
  --font-white-color: #fffff8;
  /* Font Family */
  --font-family: "Mulish", sans-serif;
  --font-family-menu: "Rajdhani", sans-serif;
}

/* ============================================= */
/*=============== NAV BAR STYLES ===============*/
/* ============================================= */

.header-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.header-box-img {
  height: 20vh;
  background-color: var(--yellow-header);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img-mobile {
  display: none;
}

.header-img-desktop {
  width: 300px;
}

.header-nav-box {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--blue-general);
}

.header-nav-box-link a {
  padding: 15px;
}

.header-nav-box-link a:visited,
.header-nav-box-link a:link {
  color: var(--font-white-color);
}

/* ============================================= */
/*=============== MAIN STYLES ==================*/
/* ============================================= */

/* Home */

.main-subtitle {
  display: block;
  text-align: center;
  margin: 8vh 3vw;
  color: var(--blue-general);
}

.main-question {
  color: var(--blue-general);
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.main-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.main-scroll::-webkit-scrollbar {
  width: 0;
}

.main-scroll-img {
  border-radius: 50%;
  border: 5px solid var(--blue-general);
  object-fit: cover;
  width: 0;
}

.main-scroll-img-text {
  display: block;
  text-align: center;
  width: 100%;
  color: var(--blue-general);
}

/* ============================================= */
/*=============== ABOUT STYLES ==================*/
/* ============================================= */

.section-about {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0 3vw; */
}

.about-banner-img {
  flex-shrink: 0;
  object-fit: cover;
  height: 335px;
  width: 40vw;
  border-radius: 20px;
}

.about-objetivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.about-bluebox {
  font-family: var(--font-family);
  position: relative;
  background-color: var(--blue-general);
  color: var(--font-white-color);
  border-radius: 20px;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  max-width: 360px;
  margin: 1rem 0;
}

.about-bluebox-title {
  font-weight: bold;
  top: 10px;
  left: -60px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow-header);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 60%;
  color: var(--blue-general);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about-bluebox-desc {
  max-width: 30ch;
}

/* ================================================= */
/*=============== SERVICES STYLES ==================*/
/* =============================================== */

.services-title {
  text-align: center;
  margin-top: 5rem;
  color: var(--blue-general);
}

.services-box {
  background-color: var(--blue-general);
  color: #fff;
  text-align: center;
  padding: 3rem 0.8rem 1rem 0.8rem;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  height: 250px;
}

.services-box-icon {
  width: 5.5rem;
  height: 5.5rem;
  position: absolute;
  border-radius: 50%;
  top: -3rem;
}

.services-box-span {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
}

.services-box:nth-child(3) .services-box-text {
  padding: 1.1rem 0;
}

/* ============================================= */
/*===============  FAQ STYLES  =================*/
/* ============================================= */

.faq-subtitle {
  color: var(--blue-general);
  font-size: 1.2rem;
  width: 80vw;
  margin: 0 10vw 1rem;
  text-align: center;
}

.faq-container {
  display: flex;
  flex-direction: column;
}

.faq-box {
  background-color: var(--yellow-header);
  border-radius: 10px;
}

.faq-box-title {
  text-align: center;
  display: block;
  padding: 1rem 0;
  color: var(--blue-general);
  font-size: 1rem;
  font-weight: 900;
}

.faq-box-text {
  background-color: var(--blue-general);
  color: var(--font-white-color);
  border-radius: 10px;
  text-align: center;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

/* ================================================ */
/*=============== CONTACT STYLES ==================*/
/* ============================================== */

#contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  height: 80vh;
}

.contact-title {
  font-size: 1.35rem;
  text-align: center;
  margin: 0 auto;
  color: var(--blue-general);
}

.contact-data {
  margin: 0 auto;
  min-width: 300px;
  max-width: 700px;
}

.contact-form {
  display: flex;
  margin: 0 auto;
  margin-bottom: 10%;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.input-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

label {
  position: absolute;
  left: 15px;
  top: -10px;
  background-color: var(--font-white-color);
  color: var(--blue-general);
  font-weight: bold;
}

.contact-input {
  border: 2px solid var(--blue-general);
  border-radius: 10.56px;
  padding: 7px;
}

.form-button {
  background-color: var(--blue-general);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 1rem 5rem;
  border: none;
  color: var(--font-white-color);
  cursor: pointer;
}

textarea {
  min-height: 100px;
  resize: none;
}

i {
  font-size: 1.45rem;
  color: var(--blue-general);
}

.social-data {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--yellow-header);
}

.social-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.social-info {
  display: flex;
}

.social-text {
  font-size: 0.75rem;
  color: var(--blue-general);
  display: none;
}

.hashtag {
  display: none;
}

.blue-box-texts {
  font-size: 1.1rem;
}

.section-about {
  overflow-x: hidden;
}

/* Swiper style */

.swiper {
  height: 380px;
}

.swiper-pagination {
  bottom: -30px;
  z-index: 9999999;
}

.swiper-wrapper {
  width: 150vw;
}

.swiper-button-next {
  right: 29vw;
}

.swiper-button-prev {
  left: 29vw;
}

.active-link {
  border-bottom: 2px solid var(--font-white-color);
  padding-bottom: 1px;
}

/* ============================================= */
/*=============== MEDIA QUERIES =================*/
/* ============================================= */

@media screen and (max-width: 768px) {
  /*header*/

  .header-container {
    flex-direction: row;
    background-color: var(--blue-general);
  }

  .header-box-img {
    width: 10vw;
    height: 10vh;
    background-color: transparent;
  }

  .header-img-desktop {
    display: none;
  }

  .header-img-mobile {
    display: inline-block;
  }

  .header-nav-box {
    width: 90vw;
    position: absolute;
    font-size: 10px;
    justify-content: space-around;
    text-align: center;
  }

  /*main*/

  .main-subtitle {
    font-size: 1.2rem;
  }

  .subtitle-margin {
    margin: 15vh 2vw 5vh;
  }

  .main-question {
    font-size: 1.2rem;
  }

  .br-1,
  .br-2 {
    display: block;
  }

  .main-scroll-img {
    min-width: 37vw;
    height: 37vw;
    margin: 5px 10px;
  }

  .about-bluebox-title {
    top: 5px;
  }

  .about-objetivo {
    margin-left: auto;
  }

  /* SERVICES */

  .services-title {
    font-size: 1.25rem;
  }

  .services-box {
    width: 80vw;
    margin: 5rem auto;
  }

  /* FAQ */

  .faq-box {
    margin: 1rem 0.5rem;
  }

  .faq-box-text {
    padding: 0 0.5rem;
  }

  .blue-box-texts {
    font-size: 1rem;
  }
  /* ABOUT */
  .about-banner-img {
    height: 250px;
    width: 95vw;
  }

  /* SWIPER */

  .swiper {
    height: 250px;
  }

  .swiper-wrapper {
    width: 250vw;
  }

  .swiper-slide {
    height: 200px;
  }

  .swiper-button-next {
    right: 80vw;
    top: 40%;
  }

  .swiper-button-prev {
    left: 80vw;
    top: 40%;
  }
}

@media screen and (min-width: 768px) {
  /*main*/

  .main-subtitle {
    font-size: 1.5rem;
  }

  .subtitle-margin {
    margin: 35vh 2vw 5vh;
  }

  .main-question {
    font-size: 1.5rem;
  }

  .br-1 {
    display: block;
  }

  .main-scroll {
    justify-content: center;
  }

  .img-2 {
    background-position-y: -60px;
  }

  .main-scroll-img {
    width: 200px;
    height: 200px;
    margin: 15px 20px;
  }

  .main-scroll-img-text {
    font-size: 1.25rem;
  }

  /* About */

  .section-about {
    gap: 3rem;
    flex-direction: column-reverse;
  }

  .about-images {
    order: 1;
  }

  .about-info {
    order: 3;
  }

  .about-objetivo {
    margin: 2rem 0;
    order: 2;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .about-bluebox {
    padding: 2.9rem 2rem 1rem 2rem;
    max-width: 400px;
    margin: 1rem 0;
  }

  .about-bluebox-title {
    top: -50px;
    left: 37%;
  }

  .about-bluebox-desc {
    text-align: center;
    max-width: 100%;
    font-weight: 100;
  }

  /* SERVICES */

  .services-title {
    font-size: 2rem;
  }

  .services-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .services-box {
    margin: 5rem 2rem;
  }

  /* FAQ */

  .faq-box {
    margin: 1rem auto;
    max-width: 850px;
  }

  .faq-box-text {
    padding: 0 5rem;
  }

  /* Contact */

  #contact {
    gap: 80px;
  }

  .contact-title {
    font-size: 2rem;
  }

  .contact-title span {
    display: none;
  }

  .contact-data {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    gap: 60px;
  }

  .contact-form {
    position: relative;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 30px;
    max-width: 800px;
    width: 100%;
    padding-right: 5vw;
  }

  .contact-form::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -30px;
    width: 3px;
    height: 70%;
    background-color: var(--blue-general);
  }

  label {
    padding: 0 5px;
  }

  .contact-input {
    padding: 12px;
  }

  textarea {
    min-height: 150px;
    resize: none;
  }

  .social-data {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    background-color: transparent;
    align-items: flex-start;
    margin-left: 5vw;
  }

  .social-data-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  }

  .social-info {
    gap: 20px;
  }

  i {
    font-size: 1.45rem;
  }

  .social-text {
    display: block;
    font-size: 1.1rem;
  }

  .hashtag {
    display: block;
    font-size: 1.45rem;
    font-weight: bold;
    color: #e7cc43;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-with: 300px) {
  .header-nav-box-link {
    padding: 0 5px;
    font-size: 8px;
  }
}
